.title {
    font-size: 24px;
    -unity-font-style: bold;
}

.subtitle {
    font-size: 18px;
    -unity-font-style: italic;
}

.h0 {
    font-size: 16px;
    -unity-font-style: bold;
}

.h1 {
    font-size: 14px;
    -unity-font-style: bold;
}

.h2 {
    font-size: 12px;
    -unity-font-style: bold;
}

.body {
    font-size: 12px;
}
