.title {
    font-size: 24px;
    -unity-font-style: bold;
}

.subtitle {
    font-size: 18px;
    -unity-font-style: italic;
}

.h1 {
    font-size: 20px;
}

.h2 {
    font-size: 16px;
}

.h3 {
    font-size: 14px;
}

.body {
}
