.title {
    font-size: 24px;
    -unity-font-style: bold;
}

.subtitle {
    font-size: 18px;
    -unity-font-style: italic;
}

.header {
    font-size: 12px;
    -unity-font-style: bold;
}

.body {
    font-size: 12px;
}










